html {
    background-color: rgb(253, 71, 0);
    color: black;
}

@font-face {
    font-family: Noto Sans;
    src: url('../fonts/NotoSans-Regular.ttf');
}

@font-face {
    font-family: Noto Sans Bold;
    src: url('../fonts/NotoSans-Bold.ttf')
}

body {
    min-height: 100vh;
    max-width: 900px;
    margin: 0 auto;
}

#pokerfacowaty-com-box {
    text-align: center;
}

#link-main {
	font-size:40px;
	font-weight:bold;
	text-align:center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a.pokerfacowaty:link, a.pokerfacowaty:visited {
    color: black;
    text-decoration:none;
    font-size:20px;
}

a.pokerfacowaty:hover {
    color: blue;
}

h1 {
    font-family: Noto Sans Bold;
    font-size: 40px;
    text-align: center;
    margin-top: 0px;
}

.collapsible-box-left {
    float:left;
    width: 440px;
    margin-left: 5px;
}

.collapsible-box-right {
    float:right;
    width: 440px;
    margin-right: 5px;
}

.header {
    user-select: none;
    display: flex;
    cursor: pointer;
    font-family: Noto Sans Bold;
    font-size: 40px;
}

.command-line {
    margin-top: 0px;
}

.command {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Noto Sans;
    font-size: 25px;
    color: white;
    background-color: black;
}

.same-line-comment {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 5px;
    font-family: Noto Sans;
    font-size: 25px;
}

.small-comment {
    margin-top: -20px;
    margin-bottom: 3px;
    font-family: Noto Sans;
    font-size:18px;
}

#small-comment-on-top {
    margin-top: -10px;
    margin-bottom: 3px;
    font-family: Noto Sans;
    font-size:18px;
}

table, td {
    border: 2px solid black;
    border-collapse: collapse;
    font-family: Noto Sans;
}

table {
    width: 100%;
}