html {
    background-color: rgb(253, 71, 0);
    color: black;
}

@font-face {
    font-family: Noto Sans;
    src: url('../fonts/NotoSans-Regular.ttf');
}

@font-face {
    font-family: Noto Sans Bold;
    src: url('../fonts/NotoSans-Bold.ttf')
}

body {
    min-height: 100vh;
    max-width: 900px;
    /* background-color: red; Just to see the where body ends */
    margin: 0 auto;
}

#pokerfacowaty-com-box {
    text-align: center;
}

#link-main {
	font-size:40px;
	font-weight:bold;
	text-align:center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a.pokerfacowaty:link, a.pokerfacowaty:visited {
    color: black;
    text-decoration:none;
    font-size:20px;
}

a.pokerfacowaty:hover {
    color: blue;
}

h1 {
    font-family: Noto Sans Bold;
    font-size: 40px;
    text-align: center;
    margin-top: 0px;
}

#subtitle {
    font-family: Noto Sans;
    font-size: 15px;
    text-align: center;
    margin-top: -25px;
}

#pic1 {
    width:300px;
    float: left;
    margin: 5px 15px 5px 15px; /* trbl, unlike others t is 5 because 15 looks bad */
}

a:link#powerpoint, a:visited#powerpoint {
    color: black;
    text-decoration:none;
    font-family: Noto Sans Bold;
}

a:hover#powerpoint {
    color: blue;
}

.description-paras {
    font-family: Noto Sans;
    margin-left: 15px;
    margin-right: 15px;
    text-align: justify;
}

#pic2 {
    width: 300px;
    float: right;
    margin: 5px 15px 5px 15px;
}

a:link#sirens, a:visited#sirens {
    color: black;
    text-decoration:none;
    font-family: Noto Sans Bold;
}

a:hover#sirens {
    color: blue;
}

a:link#twice, a:visited#twice {
    color: black;
    text-decoration:none;
    font-family: Noto Sans Bold;
}

a:hover#twice {
    color: blue;
}

#pic3 {
    width: 300px;
    float: left;
    margin: 5px 15px 15px 15px;
}