html {
    background-color: rgb(253, 71, 0);
    color: black;
}

@font-face {
    font-family: Noto Sans;
    src: url('../fonts/NotoSans-Regular.ttf');
}

@font-face {
    font-family: Noto Sans Bold;
    src: url('../fonts/NotoSans-Bold.ttf')
}

body {
    min-height: 100vh;
    max-width: 900px;
    /* background-color: red; Just to see the where body ends */
    margin: 0 auto;
}

#pokerfacowaty-com-box {
    text-align: center;
}

#link-main {
	font-size:40px;
	font-weight:bold;
	text-align:center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a.pokerfacowaty:link, a.pokerfacowaty:visited {
    color: black;
    text-decoration:none;
    font-size:20px;
}

a.pokerfacowaty:hover {
    color: blue;
}

h1 {
    font-family: Noto Sans Bold;
    font-size: 40px;
    text-align: center;
    margin-top: 0px;
}

h2 {
    font-family: Noto Sans Bold;
    font-size: 35px;
    text-align: center;
}

.project-box {
    height: 170px;
    font-family: Noto Sans;
    text-align: justify;
}

.project-img {
    width: 300px;
    display: inline;
    position: relative;
    float: left;
    margin-right: 15px;
    margin-top: 10px; /* This is to have the text more in line with the top of the pic */
}

.project-name {
    position: relative;
    font-family: Noto Sans Bold;
    font-size: 25px;
}

a.project-main-link:link, a.project-main-link:visited {
    color: black;
    text-decoration:none;
}

a.project-main-link:hover {
    color: blue;
}

.project-extra-links-box {
    word-spacing: 10px;
    height: 27px; /* 150% of font size */
}

a.project-extra-links:link, a.project-extra-links:visited {
    color: black;
    text-decoration:none;
    font-family: Noto Sans Bold;
    font-size: 18px;
}

a.project-extra-links:hover {
    color: blue;
}

a.links-inside-text:link, a.links-inside-text:visited {
    color: black;
    text-decoration:none;
    font-family: Noto Sans Bold;
}

a.links-inside-text:hover {
    color: blue;
}