html {
    background-color: rgb(253, 71, 0);
    color: black;
}

@font-face {
    font-family: Noto Sans;
    src: url('../fonts/NotoSans-Regular.ttf');
}

@font-face {
    font-family: Noto Sans Bold;
    src: url('../fonts/NotoSans-Bold.ttf')
}

body {
    min-height: 100vh;
    max-width: 900px;
    /* background-color: red; Just to see the where body ends */
    margin: 0 auto;
}

#pokerfacowaty-com-box {
    text-align: center;
}

#link-main {
	font-size:40px;
	font-weight:bold;
	text-align:center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a.pokerfacowaty:link, a.pokerfacowaty:visited {
    color: black;
    text-decoration:none;
    font-size:20px;
}

a.pokerfacowaty:hover {
    color: blue;
}

h1 {
    font-family: Noto Sans Bold;
    font-size: 40px;
    text-align: center;
    margin-top: 0px;
}

.collapsible-box-left {
    float:left;
    width: 440px;
    margin-left: 5px;
}

.collapsible-box-right {
    float:right;
    width: 440px;
    margin-right: 5px;
}

.header {
    user-select: none;
    display: flex;
    cursor: pointer;
    font-family: Noto Sans Bold;
    font-size: 40px;
}

.list {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Noto Sans;
    font-size: 18px;
}

#small-comment-on-top {
    margin-top: 0px; /* Different than in cs.css*/
    margin-bottom: 3px;
    font-family: Noto Sans;
    font-size:15px;
}

a.list-link:link, a.list-link:visited {
    color: black;
    text-decoration:none;
    font-family: Noto Sans Bold;
}

a.list-link:hover {
    color: blue;
}

.sublist {
    margin-left: 20px;
}