#link-glowna {
	font-size:40px;
	font-weight:bold;
	text-align:center;
}

a:link, a:visited {
  color: white;
  text-decoration:none;
}

body {
  background-color: black;
  color: white;
}

h1 {
	text-align:center;
}

h2 {
	text-align:center;
	font-size:30px;
}

p {
	text-align:center;
	font-size:18px;
}

div {
	font-size:18px;
}